::-webkit-scrollbar-track-piece {
	background-color: #fff;
	-webkit-border-radius: 0;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	height: 50px;
	background-color: #999;
	-webkit-border-radius: 4px;
	outline: 2px solid #fff;
	outline-offset: -2px;
	border: 2px solid #fff;
}

	::-webkit-scrollbar-thumb:hover {
		height: 50px;
		background-color: #9f9f9f;
		-webkit-border-radius: 4px;
	}

html, body {
	cursor: default;
	-webkit-font-smoothing: antialiased;
	font-family: "Microsoft Yahei Light","Microsoft YaHei UI","Microsoft Yahei","Segoe UI Light","Segoe UI","萍方","Helvetica Neue", Helvetica,Tahoma, Arial, sans-serif;
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	padding-left: 40px;
}



.ui-nav {
	width: 40px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #B7558E;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#B7558E), to(#C26F9F));
	z-index: 3;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: all ease-in-out 0.3s;
}

.aside-expanded .ui-nav {
	width: 220px;
}

.ui-nav .ui-nav-commands {
	overflow: hidden;
	width: 100%;
	position: relative;
}


	.ui-nav .ui-nav-commands > span {
		height: 40px;
		display: block;
		line-height: 40px;
		color: #fff;
		white-space: nowrap;
		width: 100%;
		transition: all ease-in-out 0.2s;
	}

.aside-expanded .ui-nav .ui-nav-commands > span.ui-nav-hamburg-btn {
	color: #fff;
}

.ui-nav .ui-nav-commands > span.ui-nav-hamburg-btn {
	height: 40px;
	width: 40px;
	color: rgba(255,255,255,.3);
}

	.ui-nav .ui-nav-commands > span.ui-nav-hamburg-btn:hover {
		background-color: transparent;
		color: rgba(255,255,255,1);
	}

	.ui-nav .ui-nav-commands > span.ui-nav-hamburg-btn:active {
		background-color: transparent;
		color: rgba(255,255,255,.6);
	}



.ui-nav .ui-nav-commands > span:hover {
	background-color: rgba(255,255,255,.3);
}

.ui-nav .ui-nav-commands > span:active {
	background-color: rgba(255,255,255,.2);
}

.ui-nav .ui-nav-commands > span > i {
	width: 40px;
	height: 40px;
	display: inline-block;
	line-height: 40px;
	text-align: center;
}

.ui-sys-bar {
	position: fixed;
	width: calc(100% - 40px);
	height: 30px;
	left: 40px;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	z-index: 2;
	-webkit-app-region: drag;
}



	.ui-sys-bar:hover .ui-sys-commands span {
		color: #fff;
		opacity: 1;
	}

	.ui-sys-bar .ui-sys-commands {
		-webkit-app-region: no-drag;
		word-break: keep-all;
		white-space: nowrap;
		transition: all ease-in-out 0.3s;
	}

	.ui-sys-bar:hover .ui-sys-commands {
		background-color: rgba(183, 85, 142,1);
	}

	.ui-sys-bar .ui-sys-commands span {
		height: 30px;
		padding: 0 10px;
		line-height: 30px;
		text-align: center;
		vertical-align: middle;
		font-family: Webdings !important;
		color: #333;
		display: inline-block;
		opacity: 0.5;
		transition: all ease-in-out 0.3s;
	}

		.ui-sys-bar .ui-sys-commands span:hover {
			opacity: 1;
			background-color: rgba(33,33,33,.1);
		}

		.ui-sys-bar .ui-sys-commands span:active {
			opacity: 1;
			background-color: rgba(33,33,33,.3);
		}

		.ui-sys-bar .ui-sys-commands span:last-child:hover {
			opacity: 1;
			background-color: rgba(204,0,0,1);
			color: #fff;
		}

		.ui-sys-bar .ui-sys-commands span:last-child:active {
			opacity: 1;
			background-color: rgba(204,0,0,.5);
			color: #fff;
		}

.ui-main-container {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}





	.ui-main-container .ui-pane {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 0;
		opacity: 0;
		background-color: #fff;
		overflow: hidden;
	}

		.ui-main-container .ui-pane.scrollable {
			overflow: auto;
		}

		.ui-main-container .ui-pane.active {
			animation: pane-fade-in ease-out 0.3s forwards;
		}

@keyframes pane-fade-in {
	from {
		opacity: 0;
		transform: translateX(30px);
		z-index: 0;
	}

	to {
		opacity: 1;
		transform: translateX(0);
		z-index: 1;
	}
}

#runtimeInfoList li span {
	display: inline-block;
}

	#runtimeInfoList li span:first-child {
		width: 100px;
		text-align: right;
	}

#setting-pane .panel {
	max-width: 680px;
}



stage {
	position: relative;
	overflow: hidden;
	height: 100%;
	background: #ddf5f7;
	-webkit-animation: skyset 110s infinite linear;
	-moz-animation: skyset 110s infinite linear;
	-o-animation: skyset 110s infinite linear;
	animation: skyset 110s infinite linear;
	width: 100%;
}

@-webkit-keyframes skyset {
	0% {
		background: #ddf5f7;
	}

	23% {
		background: #ddf5f7;
	}

	25% {
		background: #350847;
	}

	27% {
		background: #0f192c;
	}

	50% {
		background: #0f192c;
	}

	68% {
		background: #0f192c;
	}

	75% {
		background: #f9c7b8;
	}

	82% {
		background: #ddf5f7;
	}

	100% {
		background: #ddf5f7;
	}
}

@-moz-keyframes skyset {
	0% {
		background: #ddf5f7;
	}

	23% {
		background: #ddf5f7;
	}

	25% {
		background: #350847;
	}

	27% {
		background: #0f192c;
	}

	50% {
		background: #0f192c;
	}

	68% {
		background: #0f192c;
	}

	75% {
		background: #f9c7b8;
	}

	82% {
		background: #ddf5f7;
	}

	100% {
		background: #ddf5f7;
	}
}

@-o-keyframes skyset {
	0% {
		background: #ddf5f7;
	}

	23% {
		background: #ddf5f7;
	}

	25% {
		background: #350847;
	}

	27% {
		background: #0f192c;
	}

	50% {
		background: #0f192c;
	}

	68% {
		background: #0f192c;
	}

	75% {
		background: #f9c7b8;
	}

	82% {
		background: #ddf5f7;
	}

	100% {
		background: #ddf5f7;
	}
}

@keyframes skyset {
	0% {
		background: #ddf5f7;
	}

	23% {
		background: #ddf5f7;
	}

	25% {
		background: #350847;
	}

	27% {
		background: #0f192c;
	}

	50% {
		background: #0f192c;
	}

	68% {
		background: #0f192c;
	}

	75% {
		background: #f9c7b8;
	}

	82% {
		background: #ddf5f7;
	}

	100% {
		background: #ddf5f7;
	}
}
/*-------- 天黑场景遮罩层以及动画 --------*/
.nightOverlay {
	z-index: 9999;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(15, 25, 44, 0.7);
	opacity: 0;
	-webkit-animation: set 110s infinite linear;
	-moz-animation: set 110s infinite linear;
	-o-animation: set 110s infinite linear;
	animation: set 110s infinite linear;
}

@-webkit-keyframes set {
	0% {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity: 0;
	}

	50% {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
	}

	100% {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity: 0;
	}
}

@-moz-keyframes set {
	0% {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity: 0;
	}

	50% {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
	}

	100% {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity: 0;
	}
}

@-o-keyframes set {
	0% {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity: 0;
	}

	50% {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
	}

	100% {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity: 0;
	}
}

@keyframes set {
	0% {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity: 0;
	}

	50% {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
	}

	100% {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity: 0;
	}
}
/*-------- 太阳自转以及动画 --------*/
.rotation {
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 50%;
	margin: -350px 0 0 -350px;
	height: 700px;
	width: 700px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-animation: rotation 110s infinite linear;
	-moz-animation: rotation 110s infinite linear;
	-o-animation: rotation 110s infinite linear;
	animation: rotation 110s infinite linear;
}

@-webkit-keyframes rotation {
	0% {
		-webkit-transform: rotate(45deg);
	}

	100% {
		-webkit-transform: rotate(405deg);
	}
}

@-moz-keyframes rotation {
	0% {
		-moz-transform: rotate(45deg);
	}

	100% {
		-moz-transform: rotate(405deg);
	}
}

@-o-keyframes rotation {
	0% {
		-o-transform: rotate(45deg);
	}

	100% {
		-o-transform: rotate(405deg);
	}
}

@keyframes rotation {
	0% {
		transform: rotate(45deg);
	}

	100% {
		transform: rotate(405deg);
	}
}

.sun, .moon {
	position: absolute;
	height: 145px;
	width: 145px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.sun {
	top: 0;
	left: 0;
	background: yellow;
}

.moon {
	bottom: 0;
	right: 0;
	background: black;
}
/*-------- 云以及动画 --------*/
.cloud {
	position: absolute;
}

	.cloud.small {
		z-index: 1;
		top: 5%;
		left: 15%;
		background: url(../images/cloudSmall.png) no-repeat no-repeat center;
		height: 50px;
		width: 89px;
		-webkit-animation: cloudSmall 165s infinite;
		-moz-animation: cloudSmall 165s infinite;
		-o-animation: cloudSmall 165s infinite;
		animation: cloudSmall 165s infinite;
	}

	.cloud.medium {
		z-index: 3;
		top: 25%;
		left: 30%;
		background: url(../images/cloudMedium.png) no-repeat no-repeat center;
		height: 92px;
		width: 159px;
		-webkit-animation: cloudMedium 80s infinite;
		-moz-animation: cloudMedium 80s infinite;
		-o-animation: cloudMedium 80s infinite;
		animation: cloudMedium 80s infinite;
	}

	.cloud.large {
		z-index: 2;
		top: 5%;
		right: 15%;
		background: url(../images/cloudLarge.png) no-repeat no-repeat center;
		height: 169px;
		width: 302px;
		-webkit-animation: cloudLarge 105s infinite;
		-moz-animation: cloudLarge 105s infinite;
		-o-animation: cloudLarge 105s infinite;
		animation: cloudLarge 105s infinite;
	}

@-webkit-keyframes cloudSmall {
	0% {
		left: -8%;
	}

	100% {
		left: 108%;
	}
}

@-moz-keyframes cloudSmall {
	0% {
		left: -5%;
	}

	100% {
		left: 105%;
	}
}

@-o-keyframes cloudSmall {
	0% {
		left: -5%;
	}

	100% {
		left: 105%;
	}
}

@keyframes cloudSmall {
	0% {
		left: -5%;
	}

	100% {
		left: 105%;
	}
}

@-webkit-keyframes cloudMedium {
	0% {
		left: -8%;
	}

	100% {
		left: 108%;
	}
}

@-moz-keyframes cloudMedium {
	0% {
		left: -8%;
	}

	100% {
		left: 108%;
	}
}

@-o-keyframes cloudMedium {
	0% {
		left: -8%;
	}

	100% {
		left: 108%;
	}
}

@keyframes cloudMedium {
	0% {
		left: -8%;
	}

	100% {
		left: 108%;
	}
}

@-webkit-keyframes cloudLarge {
	0% {
		right: -18%;
	}

	100% {
		right: 118%;
	}
}

@-moz-keyframes cloudLarge {
	0% {
		right: -18%;
	}

	100% {
		right: 118%;
	}
}

@-o-keyframes cloudLarge {
	0% {
		right: -18%;
	}

	100% {
		right: 118%;
	}
}

@keyframes cloudLarge {
	0% {
		right: -18%;
	}

	100% {
		right: 118%;
	}
}
/*-------- 气球以及动画 --------*/
.balloon {
	position: absolute;
	z-index: 3;
	top: 5%;
	right: 20%;
	background: url(../images/balloon.png) no-repeat no-repeat center;
	height: 227px;
	width: 157px;
	-webkit-animation: balloon 30s infinite cubic-bezier(0.91, 0.01, 1, 0.89);
	-moz-animation: balloon 30s infinite cubic-bezier(0.1, 0.1, 0.95, 0.5);
	-o-animation: balloon 30s infinite cubic-bezier(0.1, 0.1, 0.95, 0.5);
	animation: balloon 30s infinite cubic-bezier(0.1, 0.1, 0.95, 0.5);
}

@-webkit-keyframes balloon {
	0% {
		right: -20%;
		-webkit-transform: rotate(0deg);
	}

	5% {
		right: -20%;
		-webkit-transform: rotate(0deg);
	}

	25% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		right: 120%;
		-webkit-transform: rotate(-30deg);
	}
}

@-moz-keyframes balloon {
	0% {
		right: -20%;
		-moz-transform: rotate(0deg);
	}

	5% {
		right: -20%;
		-moz-transform: rotate(0deg);
	}

	25% {
		-moz-transform: rotate(0deg);
	}

	100% {
		right: 120%;
		-moz-transform: rotate(-30deg);
	}
}

@-o-keyframes balloon {
	0% {
		right: -20%;
		-o-transform: rotate(0deg);
	}

	5% {
		right: -20%;
		-o-transform: rotate(0deg);
	}

	25% {
		-o-transform: rotate(0deg);
	}

	100% {
		right: 120%;
		-o-transform: rotate(-30deg);
	}
}

@keyframes balloon {
	0% {
		right: -20%;
		transform: rotate(0deg);
	}

	5% {
		right: -20%;
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(0deg);
	}

	100% {
		right: 120%;
		transform: rotate(-30deg);
	}
}
/*-------- 场景组件 --------*/
.skyline {
	position: absolute;
	z-index: 5;
	width: 100%;
	bottom: 26%;
	background: url(../images/skyline.png) repeat no-repeat;
	height: 147px;
}

.beans {
	position: absolute;
	z-index: 4;
	height: 201px;
	width: 88px;
	bottom: 30%;
	left: 50%;
	background: url(../images/beans.png) no-repeat no-repeat;
}

.ground {
	position: absolute;
	width: 100%;
	bottom: 0;
}

	.ground.front {
		z-index: 30;
		background: url(../images/groundFront.png) repeat no-repeat center;
		height: 301px;
	}

	.ground.mid {
		z-index: 20;
		background: url(../images/groundMid.png) repeat no-repeat;
		height: 299px;
	}

	.ground.back {
		z-index: 10;
		background: url(../images/groundBack.png) repeat no-repeat center;
		height: 281px;
	}

.dowEventCenter {
	position: absolute;
	z-index: 12;
	bottom: 20%;
	left: 5%;
	background: url(../images/dowEventCenter.png) no-repeat no-repeat center;
	height: 236px;
	width: 524px;
}

.planetarium {
	position: absolute;
	z-index: 12;
	bottom: 18%;
	right: 10%;
	background: url(../images/Planetarium.png) no-repeat no-repeat center;
	height: 285px;
	width: 347px;
}

.friendshipShell {
	position: absolute;
	z-index: 21;
	bottom: 18%;
	left: 20%;
	background: url(../images/friendshipShell.png) no-repeat no-repeat center;
	height: 370px;
	width: 231px;
}

.glockenspiel {
	position: absolute;
	z-index: 11;
	bottom: 26%;
	right: 50%;
	background: url(../images/Glockenspiel.png) no-repeat no-repeat center;
	height: 263px;
	width: 137px;
}
