<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- CEF 运行库非常巨大，如果遇到 Runtime 无法下载的情况，请取消以下注释启用 Nuget 国内镜像源以确保包安装顺利进行。 -->
        <!--<clear />-->
        <!--<add key="nuget.org" value="https://nuget.cdn.azure.cn/v3/index.json" />-->
    </packageSources>
</configuration>
