<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!--To inherit the global NuGet package sources remove the <clear/> line below -->
        <!--<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />-->
        <!-- CDN for China, I love China! -->
        <clear />
        <add key="nuget.org" value="https://nuget.cdn.azure.cn/v3/index.json" />
    </packageSources>
</configuration>
