@import "../Variables";

.app-logo {
  font-size: 2rem;
  padding: 1rem 0;
  display: flex;
  justify-content: center;

  .app-brand {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    transition: background-color ease 200ms;
    border-radius: 5px;

    // &:hover {
    //   background-color: $mute-color;

    //   &:active {
    //     background-color: $mute-color * 0.95;
    //   }
    // }

    .logo-img {
      background-image: url(./assets/nanui.png);
      background-size: 36px 36px;
      background-repeat: no-repeat;

      width: 36px;
      height: 36px;
    }

    .logo-title {
      color: $primary-font-color;
      margin: 0 0.5rem;

      > span {
        color: #cc0000;
      }
    }
  }
}
