::-webkit-scrollbar-track-piece {
	background-color: #fff;
	-webkit-border-radius: 0;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	height: 50px;
	background-color: #999;
	-webkit-border-radius: 4px;
	outline: 2px solid #fff;
	outline-offset: -2px;
	border: 2px solid #fff;
}

	::-webkit-scrollbar-thumb:hover {
		height: 50px;
		background-color: #9f9f9f;
		-webkit-border-radius: 4px;
	}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	cursor: default;
	-webkit-font-smoothing: antialiased;
	font-family: "Microsoft Yahei Light","Microsoft YaHei UI","Microsoft Yahei","Segoe UI Light","Segoe UI","萍方","Helvetica Neue", Helvetica,Tahoma, Arial, sans-serif;
}

body {
	padding-top: 80px;
}


.ui-sys-bar {
	height: 40px;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	-webkit-app-region: drag;
	line-height: 40px;
	background-color: #007ACC;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

	.ui-sys-bar h1 {
		font-size: 1em;
		color: #fff;
		display: block;
		margin: 0;
		padding: 0 15px;
	}

	.ui-sys-bar:hover .ui-sys-commands span {
		color: #fff;
		opacity: 1;
	}

	.ui-sys-bar .ui-sys-commands {
		-webkit-app-region: no-drag;
		word-break: keep-all;
		white-space: nowrap;
		transition: all ease-in-out 0.3s;
		display: flex;
		flex-direction: row;
	}

	.ui-sys-bar:hover .ui-sys-commands {
	}

	.ui-sys-bar .ui-sys-commands span {
		height: 40px;
		line-height: 40px;
		width: 40px;
		text-align: center;
		vertical-align: middle;
		font-family: Webdings !important;
		color: #fff;
		display: block;
		opacity: 1;
		transition: all ease-in-out 0.3s;
	}

		.ui-sys-bar .ui-sys-commands span:hover {
			opacity: 1;
			background-color: rgba(33,33,33,.3);
		}

		.ui-sys-bar .ui-sys-commands span:active {
			opacity: 1;
			background-color: rgba(33,33,33,.5);
		}

		.ui-sys-bar .ui-sys-commands span:last-child:hover {
			opacity: 1;
			background-color: rgba(204,0,0,1);
			color: #fff;
		}

		.ui-sys-bar .ui-sys-commands span:last-child:active {
			opacity: 1;
			background-color: rgba(204,0,0,.8);
			color: #fff;
		}

.ui-toolbar {
	height: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: fixed;
	top: 40px;
	left: 0;
	width: 100%;
	background-color: #007ACC;
	padding: 0 5px;
}

.CodeMirror {
	height: 100%;
	font-family: Consolas, Verdana, Tahoma, Arial !important;
}
