::-webkit-scrollbar-track-piece {
	background-color: #fff;
	-webkit-border-radius: 0;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	height: 50px;
	background-color: #999;
	-webkit-border-radius: 4px;
	outline: 2px solid #fff;
	outline-offset: -2px;
	border: 2px solid #fff;
}

	::-webkit-scrollbar-thumb:hover {
		height: 50px;
		background-color: #9f9f9f;
		-webkit-border-radius: 4px;
	}






html, body {
	height: 100%;
	width: 100%;
	font-family: "Microsoft YaHei UI","Microsoft Yahei","Segoe UI","萍方","Helvetica Neue", Helvetica,Tahoma, Arial, sans-serif;
	background-color: #5C487F;
	margin: 0;
	padding: 0;
	cursor: default;
}

body {
	padding-top: 30px;
	padding-bottom: 16px;
	font-size:12px;
}

/* header */
header.ui-header {
	position: fixed;
	height: 30px;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	padding: 0 0 0 5px;
	align-items: center;
	color: #fff;
	-webkit-app-region: drag;
}

	header.ui-header .ui-icon {
		color: #5C487F;
		background-color: #fff;
		margin-right: 10px;
		border-radius: 12px;
		display: block;
		width: 24px;
		height: 24px;
		text-align: center;
		line-height: 24px;
	}

	header.ui-header h1 {
		font-size: 1em;
		padding: 0;
		margin: 0;
	}

.ui-toolbar {
	display: flex;
	padding: 0 10px;
	align-items: center;
	justify-content: flex-start;
	-webkit-app-region: no-drag;
}

#btnNew {
	color: #fff;
}

#btnOpen {
	color: #D2A055;
}

#btnSave {
	color: #01006c;
}


.ui-toolbar > span {
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}

	.ui-toolbar > span:hover {
		background-color: #BDABDB;
		color: #5C487F !important;
	}

	.ui-toolbar > span:active {
		background-color: #9587AD;
	}



.ui-sys-commands {
	position: fixed;
	right: 0;
	-webkit-app-region: no-drag;
	word-break: keep-all;
	white-space: nowrap;
	transition: all ease-in 100ms;
	display: flex;
	flex-direction: row;
}

	.ui-sys-commands span {
		height: 30px;
		line-height: 30px;
		width: 30px;
		text-align: center;
		vertical-align: middle;
		font-family: Webdings !important;
		color: #fff;
		display: block;
		opacity: 1;
		transition: all ease-in-out 0.3s;
	}

		.ui-sys-commands span:hover {
			opacity: 1;
			background-color: rgba(33,33,33,.3);
		}

		.ui-sys-commands span:active {
			opacity: 1;
			background-color: rgba(33,33,33,.5);
		}

		.ui-sys-commands span:last-child:hover {
			opacity: 1;
			background-color: rgba(204,0,0,1);
			color: #fff;
		}

		.ui-sys-commands span:last-child:active {
			opacity: 1;
			background-color: rgba(204,0,0,.8);
			color: #fff;
		}
/* body */
main.ui-main {
	height: 100%;
	width: 100%;
	background-color: #fff;
	border-left:1px solid #5C487F;
	border-right:1px solid #5C487F;
}

.splitter_panel .vsplitter {
	background-color: #3C2B59;
	cursor: e-resize;
}

	.splitter_panel .vsplitter:active {
		background-color: #1A1226;
	}

.CodeMirror {
	height: 100%;
	font-family: Consolas, Verdana, Tahoma, Arial !important;
}

#markdown-preview{
	padding:10px;
}
/* footer */
footer.ui-footer {
	position: fixed;
	height: 16px;
	bottom: 0;
	left: 0;
	width: 100%;
	display:flex;
	align-items:center;
	justify-content:space-between;
	color:#fff;
	padding:0 5px;
}

	footer.ui-footer .ui-status {
		line-height:16px;
		padding-right:10px;
	}