.icon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 166px);
  grid-template-rows: none;
  grid-column-gap: 2rem;
  grid-row-gap: 1.5rem;
  margin: 1.5rem 0 1.5rem 0;

  > .icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1rem 0;
    border-radius: 0.5rem;
    border: solid 1px transparent;
    transition: all ease-in-out 200ms;

    > span {
      margin-top: 1rem;
    }

    &:hover {
      //background-image: linear-gradient(135deg, #e7f0fd78 0%, #accbeea0 100%);
      background-color: #e7f0fd78;
      border: solid 1px #89b6f5;
      //box-shadow: 1px 1px 5px rgba(Gray, 0.5);

      &:active {
        background-color: #accbee34;
      }
    }
  }
}
