$theme-color: #f6f8fe;

.dialog-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 2rem auto auto;
  user-select: none;
  cursor: default;
  grid-template-areas:
    "header"
    "version"
    "content";

  > header {
    grid-area: header;
    padding: 0 0 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-app-region: drag;
    background-color: $theme-color;

    > .title {
      color: #333;
    }

    > .control-box {
      -webkit-app-region: no-drag;

      height: 2rem;
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: ease-in-out 0.2s all;

      > .icon {
        width: 32px;
        height: 32px;
      }

      &:hover {
        background-color: #c00;
        fill: #fff;

        > .icon {
          fill: white;
        }

        &:active {
          background-color: #900;
        }
      }
    }
  }
  > section.version {
    display: grid;
    padding: 0.3rem 1rem;
    grid-template-columns: 4rem auto auto;
    column-gap: 2rem;
    grid-area: version;
    border-bottom: 1px solid #eaeaea;
    background-color: $theme-color;
    -webkit-app-region: drag;

    .logo-img {
      background-image: url(nanui.png);
      background-size: 4rem 4rem;
      background-repeat: no-repeat;
      width: 4rem;
      height: 4rem;
      margin-right: 1.5rem;
      box-sizing: border-box;
    }

    .version-info {
      font-weight: lighter;
      color: #666;
      margin: 0.2rem 1.5rem 0.2rem 0;
      > ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        > li:first-child {
          font-weight: normal;
        }

        > li:last-child {
          color: #999;
          font-size: 0.8rem;
        }
      }
    }
  }

  > main {
    grid-area: content;
    padding: 1rem 1rem 0 1rem;
    overflow-y: auto;
    color: #666;

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      top: -2.5rem;
    }

    &::-webkit-scrollbar-track-piece {
      background-color: #eee;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      height: 50px;
      background-color: #ccc;
      border-radius: 4px;
      transition: background-color ease 200ms;
    }

    &::-webkit-scrollbar-thumb:active,
    &::-webkit-scrollbar-thumb:hover {
      height: 50px;
      background-color: #bbb;
    }
    &::-webkit-scrollbar {
      margin-top: 2.5em;
    }

    hr {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 1px solid #eee;
      margin: 1rem 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-weight: lighter;
      margin: 0;
      padding: 0;
    }

    ul,
    li {
      font-weight: lighter;
    }

    h2 {
      margin: 0 0 0.5rem 0;
      color: #0050bf;
      font-weight: normal;
      font-size: 1.2rem;

      &:first-child {
        margin-top: 0;
      }
    }

    h3 {
      margin: 0.5rem 0 0.5rem 0;
      font-weight: normal;
      color: #333;
      font-size: 1.1rem;
    }

    p,
    ul {
      line-height: 1.5;
      font-size: 0.8rem;
    }

    p {
      margin-bottom: 0.3rem;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    article {
      margin-bottom: 2rem;
    }
  }
}
